.intro {
	display: flex;
	flex-direction: row;

	> div {
		width: 50%;
		padding: var(--space-xl);
	}
}
@media screen and (max-width: 768px) {
	.intro {
		flex-direction: column;

		> .aboutMe {
			width: 100%;
			padding-bottom: calc(var(--space-xl) * 2);
		}
		> .technologies {
			width: 100%;
			padding-top: calc(var(--space-xl) * 2);
		}
	}
}
.description {
	display: flex;
	flex-direction: row;

	> img {
		aspect-ratio: 1;
		height: 4rem;
		border-radius: 50%;
		margin-right: var(--space-xl);
	}
	> p {
		font-size: var(--text-sm);
	}
}

.technologies {
	> h2:not(:first-of-type) {
		margin-top: 1rem;
	}
	.badges {
		display: flex;
		flex-wrap: wrap;
		gap: 4px 2px;
	}
}

.socials {
	margin-top: var(--space-lg);
}
.projects {
	padding: var(--space-xl);
}

.cards {
	display: flex;
	gap: var(--space-lg);
	flex-wrap: wrap;
	flex-direction: row;
}
