#languageSelectorButton {
	cursor: pointer;
	background-color: transparent;
	border: none;
	width: 2rem;
	height: 2rem;
	color: var(--text-primary);
}
#languageSelectorDropdown {
	position: absolute;
	right: 0;
	top: 0;
	width: 15rem;
	background-color: var(--background-tertiary);
	border-radius: 10px;
	padding: var(--space-nm);
}

.it::before {
	content: "\1F1EE\1F1F9\a0";
	display: inline-block;
	white-space: pre-wrap;
}
.en::before {
	content: "\1F1EC\1F1E7\a0";
	display: inline-block;
	white-space: pre-wrap;
}

.languages {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.language {
	background-color: transparent;
	border: none;
	color: var(--accent-primary);
	cursor: pointer;
}
.language:disabled {
	color: var(--text-tertiary);
	cursor: not-allowed;
	font-weight: bold;
	text-decoration: underline;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	button {
		cursor: pointer;
		background-color: transparent;
		border: none;
		color: var(--text-primary);
	}
}
