.project {
  display: flex;
  flex-direction: column; 
  padding: var(--space-lg);
  margin: var(--space-lg);
  border-radius: 10px;
  max-height: 15rem;
  max-width: 20rem;
  background-color: var(--background-tertiary);
}

.title {
  font-size: var(--text-lg);
  font-weight: bold;
  color: var(--text-primary);
}

.desc {
  overflow-y: auto;
}

.desc::-webkit-scrollbar {
  width: var(--space-sm);
}

.desc::-webkit-scrollbar-thumb {
  background-color: var(--accent-primary);
  width: var(--space-sm);
}

hr {
  margin-top: var(--space-nm);
  margin-bottom: var(--space-nm);
  border-color: var(--background-primary);
}